/* Navbar */
.navbar {
  background-color: rgb(134, 83, 53);
}
/* Form */

.abcd .container {
  height: 400px;
}
form {
  background-color: rgba(226, 226, 226, 0.486);
}
form .judul {
  margin-top: px;
}
