.box{
    margin: 150px auto;
    height: 300px;
    width: 600px;

}
.atas{
    height: 50px;
    width: 600px;
    background-color: greenyellow;
}
h1{
    text-align: center;
}
.kiri{
    height: 250px;
    width: 200px;
    float: left;
    background-color: lightcoral;
}
.gambar{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: 150px;
    height: 180px;
    width: 180px;
    border-radius: 0%;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.kanan{
    width: 400px;
    height: 250px;
    background-color: indianred;
    float: right;
}
