/* Navbar */
.navbar {
  background-color: #f7b95c;
  font-family: "Cormorant Upright", serif;
  font-size: 18px;
}
.navbar-brand {
  font-size: 24px;
}
.dropdown-item {
  font-size: 16px;
}
button .btn {
  color: aqua !important;
  background-color: blue !important;
}
